<% layout('/layouts/boilerplate') %>

<h1>All Listings</h1>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings){ %>
        <div class="col mb-4">
            <a href="/listing/<%= listing._id %>" class="listing-link">
                <div class="card h-100">
                    <img
                        src="<%= listing.image.url %>"
                        class="card-img-top"
                        alt="<%= listing.title %>"
                        style="height: 20rem;"
                        onerror="this.src='/images/default-img.jpg';">
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b><br>
                            ₹ <%= listing.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
            </a>
        </div>
    <% } %>
</div>