<% layout('/layouts/boilerplate') %>
    <h1>All Listings</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <% for(let listing of allListings){ %>
            <div class="col mb-4">
                <a href="/listing/<%= listing._id %>" class="listing-link">
                    <div class="card h-100">
                        <div class="card-img-wrapper">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>"
                                onerror="this.src='/images/default-img.jpg';">
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span class="listing-title d-block">
                                    <%= listing.title %>
                                </span>
                                <span class="listing-price">₹ <span>
                                        <%= listing.price.toLocaleString("en-IN") %>
                                    </span> / night</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
    </div>